<!doctype html>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>DREAM STREAM!</title>
</head>
<body>
    {{{body}}}
<script src="./time.js"></script>
<script src="./sort.js"></script>
<script src="./loadjson.js"></script>
</body>
</html>
