<h1>DREAM STREAM</h1>
<div id="jsonNull"></div>
<table>
  <tr>
    <td></td>
    <td><div id="tableName"><strong>Streamer</strong></td>
    <td><strong>Solo MMR</strong></td>
  </tr>
  <tr>
    <td><div id="logo0"></div></td>
    <td><div id="player0"></div></td>
    <td><div id="mmr0"></div></td>
  </tr>
  <tr>
    <td><div id="logo1"></div></td>
    <td><div id="player1"></div></td>
    <td><div id="mmr1"></div></td>
  </tr>
  <tr>
    <td><div id="logo2"></div></td>
    <td><div id="player2"></div></td>
    <td><div id="mmr2"></div></td>
  </tr>
  <tr>
    <td><div id="logo3"></div></td>
    <td><div id="player3"></div></td>
    <td><div id="mmr3"></div></td>
  </tr>
  <tr>
    <td><div id="logo4"></div></td>
    <td><div id="player4"></div></td>
    <td><div id="mmr4"></div></td>
  </tr>
  <tr>
    <td><div id="logo5"></div></td>
    <td><div id="player5"></div></td>
    <td><div id="mmr5"></div></td>
  </tr>
  <tr>
    <td><div id="logo6"></div></td>
    <td><div id="player6"></div></td>
    <td><div id="mmr6"></div></td>
  </tr>
  <tr>
    <td><div id="logo7"></div></td>
    <td><div id="player7"></div></td>
    <td><div id="mmr7"></div></td>
  </tr>
  <tr>
    <td><div id="logo8"></div></td>
    <td><div id="player8"></div></td>
    <td><div id="mmr8"></div></td>
  </tr>
  <tr>
    <td><div id="logo9"></div></td>
    <td><div id="player9"></div></td>
    <td><div id="mmr9"></div></td>
  </tr>
</table>
<br>
<div id="info">Dream Stream is a script written in Node.js that checks the
  DOTA 2 leaderboards and Twitch.tv's API to see who on the leaderboard is
  currently streaming. Please check <a href="https://github.com/pauljickling/Dream-Stream">
  the Github page</a> for Frequently Asked Questions. Dream Stream updates every
  five minutes (or you can refresh the page). <br><br><strong>Last updated:</strong> </div><div id="divTime"></div>
<h6 id="license">Dream Stream is (c) 2016 Paul Jickling and made available under the MIT license. Dota 2 is a registered trademark of Valve Corporation.</h6>
