<h2>dream stream</h2>
<div id="time"></div>
<ul class="navbar">
  <li class="nav-item"><button type="button" class="button" id="rank">RANK</button></li>
  <li class="nav-item" id="points"><button type="button" class="button" id="points">POINTS</button></li>
</ul>
<div class="container">

</div>
<div id="lower">
  <p><a href="https://github.com/pauljickling/Dream-Stream">GITHUB</a></p>
  <p id="about">ABOUT</p>
  <p id="license">Dream Stream is (c)2016 Paul Jickling and made available under the MIT license</p>
</div>
<div id="about-text"><span id="close-about"><img src="./close.png"></span><br>Dream Stream shows the Dota players currently streaming on Twitch that are on the leaderboard or have earned qualifying points. You can sort by either value.</div>
