<h1>DREAM STREAM</h1>
<div id="lang"><label for="language">Language filter:</label>
    <select name="language" id="language">
      <option value="na">None</option>
      <option value="en">English</option>
      <option value="ru">Russian</option>
      <option value="ko">Korean</option>
    </select></div>
<div id="jsonNull"></div>
<table>
  <tr>
    <td></td>
    <td><strong><br>Streamer</strong></td>
    <td><strong>Solo<br>MMR</strong></td>
  </tr>
  <tr>
    <td><div id="logo0"></div></td>
    <td><div id="player0">Loading...</div></td>
    <td><div id="mmr0"></div></td>
  </tr>
  <tr>
    <td><div id="logo1"></div></td>
    <td><div id="player1"></div></td>
    <td><div id="mmr1"></div></td>
  </tr>
  <tr>
    <td><div id="logo2"></div></td>
    <td><div id="player2"></div></td>
    <td><div id="mmr2"></div></td>
  </tr>
  <tr>
    <td><div id="logo3"></div></td>
    <td><div id="player3"></div></td>
    <td><div id="mmr3"></div></td>
  </tr>
  <tr>
    <td><div id="logo4"></div></td>
    <td><div id="player4"></div></td>
    <td><div id="mmr4"></div></td>
  </tr>
  <tr>
    <td><div id="logo5"></div></td>
    <td><div id="player5"></div></td>
    <td><div id="mmr5"></div></td>
  </tr>
  <tr>
    <td><div id="logo6"></div></td>
    <td><div id="player6"></div></td>
    <td><div id="mmr6"></div></td>
  </tr>
  <tr>
    <td><div id="logo7"></div></td>
    <td><div id="player7"></div></td>
    <td><div id="mmr7"></div></td>
  </tr>
  <tr>
    <td><div id="logo8"></div></td>
    <td><div id="player8"></div></td>
    <td><div id="mmr8"></div></td>
  </tr>
  <tr>
    <td><div id="logo9"></div></td>
    <td><div id="player9"></div></td>
    <td><div id="mmr9"></div></td>
  </tr>
</table>
<br>
<div id="info"><p>For more info please check <a href="https://github.com/pauljickling/Dream-Stream">Dream Stream Github</a></p>
<strong>Updated every 5 min. Last update:</strong></div>
<div id="divTime"></div>
<h6 id="license">Dream Stream is (c) 2016 Paul Jickling and made available under the MIT license.</h6>
