<h2>dream stream</h2>

<ul class="navbar">
  <li class="nav-item" id="rank">Rank</li>
  <li class="nav-item" id="points">Qualifying<br> Points</li>
  <li class="nav-item dropdown">Language</li>
</ul>

<div class="container">
  {{{streamers}}}
</div>
<ul class="navbar">
  <li class="nav-item" id="time"></li>
  <li class="nav-item"><a href="https://github.com/pauljickling/Dream-Stream">Github</a></li>
  <li class="nav-item" id="about">About</li>
</ul>
<h4 id=license>Dream Stream is (c)2016 Paul Jickling and made available under the MIT license</h4>
<div id="about-text">Dream Stream shows the Dota players currently streaming on Twitch that are on the leaderboard or have earned qualifying points. You can sort by either value.</div>
