* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  background-color: #102027;
  color: #ffffff;
}
div#header-container {
  margin-left: 10%;
}
h2 {
  font-size: 1.5em;
}
img {
  max-width: 75%;
  height: auto;
  border: 1px solid #d3d3d3;
}
img#github-logo {
  max-width: 100%;
  border: none;
  padding-right: 5px;
  -webkit-transform:
    translateY(0px)
    translateX(-5px)
    rotate(0deg);
}
p {
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}
.button {
border: 0;
background: #32566e;
background: -webkit-gradient(linear, left top, left bottom, from(#2AA4DB), to(#32566e));
background: -webkit-linear-gradient(top, #2AA4DB, #32566e);
background: -moz-linear-gradient(top, #2AA4DB, #32566e);
background: -ms-linear-gradient(top, #2AA4DB, #32566e);
background: -o-linear-gradient(top, #2AA4DB, #32566e);
padding: 10px 20px;
font-family: "Lato", sans-serif;
font-size: 1em;
color: white;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
}
.button:hover {
   border-top-color: #587385;
   background: #587385;
   color: #ccc;
}
.button:active {
   border-top-color: #64a7d4;
   background: #64a7d4;
}
.container {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
#cards {
  margin-top: 40px;
  padding-bottom: 40px;
}
#cards.container {
  border-bottom: 5px solid #32566e;
}

.player-title {
  font-size: 1.2em;
}
#flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

#about {
  font-size: 1.2em;
  text-decoration: underline;
}

@media screen and (min-width: 1080px) {
  .container {
    margin-left: 25%;
    margin-right: 25%;
    grid-gap: 40px;
  }
  div#header-container {
    margin-left: 25%;
    margin-right: 25%;
  }
  #flex {
    margin-left: minmax(300px, 75%);
    padding-top: 0px;
  }
  #license {
    padding-top: 20px;
  }
}
