* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  background-color: #102027;
  color: #ffffff;
}
h2 {
  font-size: 1.5em;
  margin-left: 20px;
}
img {
  max-width: 100%;
  height: auto;
  border: 1px solid #d3d3d3;
}
p {
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}
.button {
border-top: 1px solid #6d6e6e;
background: #32566e;
background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#32566e));
background: -webkit-linear-gradient(top, #757575, #32566e);
background: -moz-linear-gradient(top, #757575, #32566e);
background: -ms-linear-gradient(top, #757575, #32566e);
background: -o-linear-gradient(top, #757575, #32566e);
padding: 10px 20px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0,0,0,1) 0 1px 0;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
font-family: "Lato", sans-serif;
font-size: 1em;
color: white;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
}
.button:hover {
   border-top-color: #587385;
   background: #587385;
   color: #ccc;
}
.button:active {
   border-top-color: #64a7d4;
   background: #64a7d4;
}
.container {
  display: grid;
  margin-left: 25%;
  margin-right: 25%;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.card {
  padding: 10px;
}
.navbar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #32566e;
}
.nav-item {
  padding: 2px;
  text-align: center;
}
.player-title {
  font-size: 1.2em;
}
#lower {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  margin-left: minmax(300px, 75%);
  margin-right: 10px;
}
#license {
  margin-left: 10px;
}
#about {
  cursor: pointer;
}
#about:hover {
  text-decoration: underline;
}
#about-text {
  background-color: gray;
  border: 5px solid black;
  position: fixed;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  min-width: 280px;
  top: 25px;
  font-size: 1.1em;
  visibility: hidden;
}
span#close-about {
  float: right;
  padding-left: 10px;
  cursor: pointer;
}
#time {
  margin-left: 20px;
}

@media screen and (min-width: 620px) {
  .navbar {
    margin-left: 25%;
    margin-right: 25%;
  }
  #about-text {
    margin-left: 45%;
    margin-right: 45%;
  }
}
