* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
a.underline {
  text-decoration: underline;
}
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  background: #00253a;
  color: #ffffff;
}
div#header-container {
  margin-left: 10%;
}
h2 {
  font-size: 1.5em;
  padding-top: 15px;
}
img {
  max-width: 75%;
  height: auto;
  border: 1px solid #d3d3d3;
}
img#baby-roshan {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  float: left;
  border: none;
}
img#github-logo {
  max-width: 100%;
  border: none;
  padding-right: 5px;
  -webkit-transform:
    translateY(0px)
    translateX(-5px)
    rotate(0deg);
}
p {
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}

.container {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.wide-container {
  background: #014d64;
}
div#header-wide {
  margin-top: -25px;
  padding-bottom: 5px;
  max-height: 50px;
}
#cards {
  margin-top: 40px;
  padding-bottom: 40px;
}
.player-title {
  font-size: 1.2em;
}
#flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

#about {
  font-size: 1.2em;
  text-decoration: underline;
}

@media screen and (min-width: 1080px) {
  .container {
    margin-left: 25%;
    margin-right: 25%;
    grid-gap: 40px;
  }
  div#header-container {
    margin-left: 25%;
    margin-right: 25%;
  }
  #flex {
    margin-left: minmax(300px, 75%);
    padding-top: 0px;
  }
  #license {
    padding-top: 20px;
  }
}
